<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <marketing>
            <top_banner>
                <banner_text>50% off delivery price until end of October!</banner_text>
            </top_banner>
        </marketing>
    </default>
</config>
