<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
   <system>
       <tab id="magebit" translate="label" sortOrder="50">
           <label>Magebit</label>
       </tab>

       <section id="marketing" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
           <label>Marketing</label>
           <tab>magebit</tab>
           <resource>MagebitAcademy_TopBanner::config</resource>

           <group id="top_banner" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
               <label>Top Banner</label>

               <field id="banner_text" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                   <label>Top Banner text</label>
               </field>

               <field id="banner_color" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Banner Background Color</label>
                <backend_model>MagebitAcademy\TopBanner\Model\Config\Backend\Color</backend_model>
                <comment>Enter a valid hex color code (e.g. #FF0000)</comment>
             </field>
           </group>
       </section>
   </system>
</config>
